{% extends 'base.html' %}

{% comment %} Sección para mostrar datos sobre el creador etc {% endcomment %}

{% block titulo %} Sobre {% endblock %}

{% block style_css %}

{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
Notas sobre cosas y problemas con aplicación:<br>
	La aplicación permite subir aplicaciones html5+javascript, el canvas ya está colocado lo unico<br>
	que hay que hacer es insertar el codigo javascript y ver correr la aplicación.<br><br>
	El botón inicio muestra una lista general de las aplicaciones "imagen+nombre+autor"<br>
	Los botones, animaciones juegos y otros muestran lo mismo pero solo las aplicaciones que cumplan el tipo <br><br>
	El botón subir contenido permite al usuario registrado subir nuevas aplicaciones<br><br>
	Se puede buscar introduciendo un tag o un texto en el cuadro de busqueda<br><br>
	Usuario y contraseña de admin paco, paco <br><br>
	Solo los juegos funcionan, no tengo codigo de animación ni de otros disponible <br>
{% endblock %}
